dist
dist-newstyle
cabal-dev
.gcroots
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.virtualenv
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.js_hi
*.js_o
*.jsexe
*_stub.h
*~
\#*
.#*
*.dsc
*.tar.gz
*.changes
*.deb
build-ghc-stamp
configure-ghc-stamp
.local-development-configured
*/debian/changelog
*/debian/compat
*/debian/control
*/debian/copyright
*/debian/files
*/debian/*.debhelper.log
*/debian/*.install
*/debian/*.substvars
*/debian/extra-depends-ghcjs
*/debian/*.lintian-overrides
*/debian/*.links
*/debian/*/
*/debian/hlibrary.setup
*/debian/rules
*/debian/source/
*/debian/watch
*/dist-ghc/
*/dist-ghcjs/
*/dist-newstyle/
build-haddock-stamp
check-ghc-stamp
*/_local
*/_state
happstack-ghcjs-server/happstack-ghcjs-server.eventlog
happstack-ghcjs-server/version.txt
client.project.local
server.project.local
runtime-depends.nix
happstack-ghcjs-server/css/.sass-cache/*
happstack-ghcjs-server/css/codenoise.*
.ghc.environment.*
.sass-cache
*.fls
*.aux
*.fdb_latexmk
*.log
*.xdv
success.mp3
uhoh.mp3
jssync.sh
.DS_Store
*/client.sha256
*/server/ClientBinDir.hs
*/server/ClientVersion.hs
*/server/ServerVersion.hs
