Source: haskell-extra
Priority: optional
Section: devel
Maintainer: David Fox <dsf@seereason.com>
Standards-Version: 3.7.2.2
Homepage: http://src.seereason.com/haskell-extra
Build-Depends: debhelper (>= 7.0)
               , haskell-devscripts (>= 0.8)
               , cdbs
               , ghc
               , ghc-prof
               , libghc-hunit-dev
               , libghc-hunit-prof
               , libghc-quickcheck2-dev (>= 2)
               , libghc-quickcheck2-dev (<< 3)
               , libghc-quickcheck2-prof (>= 2)
               , libghc-quickcheck2-prof (<< 3)
               , libghc-unixutils-dev (>= 1.51)
               , libghc-unixutils-prof (>= 1.51)
               , libghc-bzlib-dev
               , libghc-bzlib-prof
               , libghc-mtl-dev
               , libghc-mtl-prof
               , libghc-network-uri-dev (>= 2.6)
               , libghc-network-uri-prof (>= 2.6)
               , libghc-puremd5-dev
               , libghc-puremd5-prof
               , libghc-random-dev
               , libghc-random-prof
               , libghc-regex-compat-dev
               , libghc-regex-compat-prof
               , libghc-zlib-dev
               , libghc-zlib-prof
Build-Depends-Indep: ghc-doc
                     , libghc-hunit-doc
                     , libghc-quickcheck2-doc (>= 2)
                     , libghc-quickcheck2-doc (<< 3)
                     , libghc-unixutils-doc (>= 1.51)
                     , libghc-bzlib-doc
                     , libghc-mtl-doc
                     , libghc-network-uri-doc (>= 2.6)
                     , libghc-puremd5-doc
                     , libghc-random-doc
                     , libghc-regex-compat-doc
                     , libghc-zlib-doc

Package: libghc-extra-dev
Section: libdevel
Architecture: any
Depends: ${haskell:Depends},
         libghc-unixutils-dev (>= 1.32)
Description: A grab bag of modules.
  .
  This package contains the normal library files.

Package: libghc-extra-prof
Section: libdevel
Architecture: any
Depends: ${haskell:Depends},
         libghc-extra-dev,
         libghc-unixutils-prof (>= 1.32)
Description: A grab bag of modules.
  .
  This package contains the libraries compiled with profiling enabled.

Package: libghc-extra-doc
Section: libdevel
Architecture: any
Depends: ${haskell:Depends},
         ghc-doc,
         libghc-unixutils-doc
Description: A grab bag of modules.
  .
  This package contains the documentation files.
