Source: haskell-extra
Priority: optional
Section: devel
Maintainer: David Fox <dsf@seereason.com>
Build-Depends: debhelper (>= 5.0),
               haskell-devscripts (>= 0.6.12-12),
               ghc6 (>= 6.10),
               ghc6-doc,
               haddock (>= 2.1.0),
               ghc6-prof,
               libghc6-unixutils-prof (>= 1.10),
               libghc6-unixutils-doc (>= 1.10),
               haxml-doc,
               libghc6-haxml-dev
Standards-Version: 3.7.2.2
Homepage: http://seereason.org/

Package: libghc6-extra-dev
Section: libdevel
Architecture: any
Depends: ${haskell:Depends},
         libghc6-unixutils-dev (>= 1.10),
         libghc6-haxml-dev
Description: A grab bag of modules.
  .
  This package contains the normal library files.

Package: libghc6-extra-prof
Section: libdevel
Architecture: any
Depends: ${haskell:Depends},
         libghc6-extra-dev,
         libghc6-unixutils-prof (>= 1.10),
         libghc6-haxml-dev
Description: A grab bag of modules.
  .
  This package contains the libraries compiled with profiling enabled.

Package: libghc6-extra-doc
Section: libdevel
Architecture: any
Depends: ${haskell:Depends},
         ghc6-doc,
         libghc6-unixutils-doc
         haxml-doc
Description: A grab bag of modules.
  .
  This package contains the documentation files.
