Source: haskell-extra
Priority: optional
Section: devel
Maintainer: David Fox <dsf@seereason.com>
Build-Depends: debhelper (>= 5.0),
               debhelper (>= 4.0.0),
               haskell-devscripts-cdbs,
               haskell-devscripts-cdbs (>= 0.6.12-12),
               ghc6 (>= 6.8),
               ghc6 (>= 6.8.2-1ubuntu1+7),
               ghc6-doc,
               haddock (>= 2.1.0),
               ghc6-prof,
               libghc6-regex-compat-prof,
               libghc6-regex-compat-doc,
               libghc6-time-prof (>= 1.1),
               libghc6-time-doc (>= 1.1),
               libghc6-unixutils-prof (>= 1.10),
               libghc6-unixutils-doc (>= 1.10),
               libghc6-mtl-prof,
               libghc6-mtl-doc,
               libghc6-network-prof,
               libghc6-network-doc,
               haxml-doc,
               libghc6-quickcheck-prof,
               libghc6-quickcheck-doc,
               libghc6-hunit-prof,
               libghc6-hunit-doc,
               libghc6-time-dev (>= 1.1),
               libghc6-haxml-dev
Standards-Version: 3.7.2.2
Homepage: http://seereason.org/

Package: libghc6-extra-dev
Section: libdevel
Architecture: any
Depends: ${haskell:Depends},
         libghc6-network-dev,
         libghc6-mtl-dev,
         libghc6-unixutils-dev (>= 1.10),
         libghc6-time-dev (>= 1.1),
         libghc6-haxml-dev,
         libghc6-quickcheck-dev,
         libghc6-hunit-dev,
         libghc6-regex-compat-dev
Description: A grab bag of modules.
  .
  This package contains the normal library files.

Package: libghc6-extra-prof
Section: libdevel
Architecture: any
Depends: ${haskell:Depends},
         libghc6-extra-dev,
         libghc6-network-prof,
         libghc6-mtl-prof,
         libghc6-unixutils-prof (>= 1.10),
         libghc6-time-prof (>= 1.1),
         libghc6-haxml-dev,
         libghc6-quickcheck-prof,
         libghc6-hunit-prof,
         libghc6-regex-compat-prof
Description: A grab bag of modules.
  .
  This package contains the libraries compiled with profiling enabled.

Package: libghc6-extra-doc
Section: libdevel
Architecture: any
Depends: ${haskell:Depends},
         ghc6-doc,
         libghc6-network-doc,
         libghc6-mtl-doc,
         libghc6-time-doc,
         libghc6-unixutils-doc,
         libghc6-regex-compat-doc,
         libghc6-quickcheck-doc,
         libghc6-hunit-doc,
         haxml-doc
Description: A grab bag of modules.
  .
  This package contains the documentation files.
