#!/usr/bin/make -f
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/hlibrary.mk

binary-fixup/libghc6-extra-prof::
	rm debian/libghc6-extra-prof/usr/lib/haskell-packages/ghc6/lib/Extra-*/*/include/gwinsz.h
